html, body {
    scroll-behavior:smooth;
    background-color: cyan;
    margin:0;padding:0;height:100%;
    --nav-load-time:300ms;
}

*{
    margin:0;padding:0;
}
div#bg{
    height:500%;
    background-image: linear-gradient(indigo, purple, blue,cyan);
    display: flex;
    flex-direction: column;
    justify-items: center;
}

h2.name{
    margin: 10px;
    color:white;
    font-size: 60px;
    font-family: 'Roboto', serif;
    font-weight: 900;
    transition: font-size 0.4s
}
h2.name:hover{
    font-size: 62px;
    color:rgba(255,255,255,0.5)
}

.menu{
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    align-content: center;
    justify-content: space-around;
    position: sticky;
    top:4px;
    background-color:rgba(0, 0, 0, 0.3);
    animation: nav-load var(--nav-load-time) ease-in;
}
.item{
    font-size: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    animation-name: nav-link-load;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    transform:scale(0);
    animation-fill-mode: forwards;
    transition: color 0.5s;
}
.item:hover{
    color: tomato;
}

.menu .item:first-child{
    animation-name: nav-first-link-load;
    transform: translateX(-1000%);
}

.menu .item:last-child{
    animation-name: nav-last-link-load;
    transform: translateX(1000%);
}

div#name{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    font-family: 'Roboto';
    text-decoration: bold;
}

p{
    padding-top: 20px;
    font-size: 30px;
    color: black;
    font-family: 'Roboto', sans-serif;
    width:100%;
    text-align: center;
    opacity: 0.8;
    transition: opacity 0.2s;
}

p:hover{
    opacity:1;
}

div:target > p{
    color:white
}

@keyframes nav-load {
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform:translateY(0%);
    }
}

@keyframes nav-link-load {
    0%{
        transform:scale(0);
    }
    80%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1);
    }
}

@keyframes nav-first-link-load {
    0%{
        transform:translateX(-1000%);
    }
    90%{
        transform:translateX(50%);
    }
    100%{
        transform:translateX(0);
    }
}
@keyframes nav-last-link-load {
    0%{
        transform:translateX(1000%);
    }
    90%{
        transform:translateX(-50%);
    }
    100%{
        transform:translateX(0);
    }
}