html, body {
    scroll-behavior:smooth;
    background-color: cyan;
    margin:0;padding:0;height:100%;
}

*{
    margin:0;padding:0;
}
div#bg{
    height:500%;
    background-image: linear-gradient(indigo, purple, blue,cyan);
    display: flex;
    flex-direction: column;
    justify-items: center;
}

h2.name{
    margin: 10px;
    color:white;
    font-size: 60px;
    font-family: 'Roboto', serif;
    font-weight: 900;
    transition: font-size 0.4s
}
h2.name:hover{
    font-size: 62px;
    color:rgba(255,255,255,0.5)
}

.menu{
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    align-content: center;
    justify-content: space-around;
    position: sticky;
    top:4px;
    background-color:rgba(0, 0, 0, 0.3);
}

.item{
    font-size: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: color 0.5s;
}
.item:hover{
    color: tomato;
}

div#name{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    font-family: 'Roboto';
    text-decoration: bold;
}

p{
    padding-top: 20px;
    font-size: 30px;
    color: black;
    font-family: 'Roboto', sans-serif;
    width:100%;
    text-align: center;
    opacity: 0.8;
    transition: opacity 0.2s;
}

p:hover{
    opacity:1;
}

div:target > p{
    color:white
}